<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
   
    <h1>hey I am Mithun</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum praesentium eos, saepe libero hic culpa animi consequuntur fugiat quibusdam, temporibus molestiae corporis soluta porro numquam! Repudiandae ipsum harum alias corrupti?</p>
</body>
</html>